/* THEME CHANGE : START */

body {
    font-size: 16px !important;
}

.sidebar-user img.new {
    height: 6.375rem;
    width: 6.8rem;
    margin-top: .1875rem;
    margin-bottom: .1875rem;
}

.sidebar-dark .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #567DFF !important;
    color: #fff;
}

.sidebar-dark .nav-sidebar .nav-link:not(.disabled):hover {
    color: #fff;
    background-color: #567DFF !important;
}

.t-head {
    background-color: #252b36 !important;
    color: #FFF;
}

.btn.btn-primary {
    color: #fff;
    background-color: #567DFF !important;
    border-color: #567DFF !important;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #567DFF !important;
    border-color: #567DFF !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #567DFF !important;
    border-color: #567DFF !important;
}

.page-title {
    padding: 1rem 0 !important;
    position: relative;
}


/* THEME CHANGE : END */

.card {
    border-radius: 1.25rem !important;
    overflow: hidden !important;
}

.datatable-header {
    padding: 0rem 1.25rem 0 1.25rem;
}

#search-btn-my {
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-search {
    border: 1px solid #ddd !important;
    border-radius: 0.75rem;
}

.datatable-footer {
    border: none;
    display: none;
}

.ml-1,
.mx-1 {
    margin: 0px !important;
}

/* 
.table-responsive {
    overflow-x: inherit !important;
}

.card {
    margin-bottom: 1.25rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    border-radius: 20px !important;
    box-shadow: 0px 1px 5px 1px #0000004d!important;
}

.card>.table:first-child tbody:first-child tr:first-child td:first-child,
.card>.table:first-child tbody:first-child tr:first-child th:first-child,
.card>.table:first-child thead:first-child tr:first-child td:first-child,
.card>.table:first-child thead:first-child tr:first-child th:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child tbody:first-child tr:first-child td:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child tbody:first-child tr:first-child th:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child thead:first-child tr:first-child td:first-child,
.card>[class*=table-responsive]:first-child>.table:first-child thead:first-child tr:first-child th:first-child {
    border-top-left-radius: calc(1.25rem - 1px)!important;
}

.card>.table:first-child tbody:first-child tr:first-child td:last-child,
.card>.table:first-child tbody:first-child tr:first-child th:last-child,
.card>.table:first-child thead:first-child tr:first-child td:last-child,
.card>.table:first-child thead:first-child tr:first-child th:last-child,
.card>[class*=table-responsive]:first-child>.table:first-child tbody:first-child tr:first-child td:last-child,
.card>[class*=table-responsive]:first-child>.table:first-child tbody:first-child tr:first-child th:last-child,
.card>[class*=table-responsive]:first-child>.table:first-child thead:first-child tr:first-child td:last-child,
.card>[class*=table-responsive]:first-child>.table:first-child thead:first-child tr:first-child th:last-child {
    border-top-right-radius: calc(1.25rem - 1px)!important;
}

.card .table-responsive {
    border-radius: calc(1.25rem - 1px)!important;
}

.datatable-footer,
.datatable-header {
    padding: 0rem 1.25rem 0 1.25rem !important;
}

.navbar-search .form-control.my-search-box {
    border: 1px solid !important;
}

.mr-my {
    margin-right: 10px;
}

.my-search-box {
    float: left !important;
    width: 80%;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0px !important;
}

#search-btn-my {
    float: left !important;
    width: 20%;
    background: #ea9f39;
    color: white;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
    height: 38px;
    border: 1px solid #ea9f39 !important;
    border-left: none !important;
}

.navbar-search input.form-control.my-search-box {
    border-right: 0px !important;
} */


/* .card.listing-card {
    border: 0px !important;
}

.t-head .corner-left {
    color: #FFF;
    border-top-left-radius: 1.25rem !important;
}

.t-head .corner-right {
    color: #FFF;
    border-top-right-radius: 1.25rem !important;
}

.lc-overflow-hidden {
    overflow: hidden;
}
 */
/* 
.card {
    overflow: hidden !important;
    border-radius: 1.25rem !important;
}

tr.bg-black.text-white {
    background-color: black !important;
    color: white !important;
}

.card.video-card {
    padding: 10px;
} */
